<div class="container">
  <label class="header-label">Shipping Address</label>
  <!-- Search Input Field -->
  <div class="input-control">
    <input
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearch()"
      placeholder="Enter postcode or address"
      class="search-input"
    />
    <img
      src="assets/Apple Search 2.svg"
      class="search-icon"
      alt="Search Icon"
    />
  </div>

  <!-- Lookup Results -->
  <div *ngIf="searchResults.length > 0" class="lookup-results">
    <div class="suggest-container">
      <div *ngIf="drilldownHeader">
        <button (click)="goBack()" class="back-btn">
          <img src="assets/arrow_back.svg" alt="Back Icon" />
        </button>
        <label class="drilldown-label">{{ drilldownHeader }}</label>
      </div>

      <div *ngIf="!drilldownHeader">
        <label>SUGGESTIONS</label>
      </div>
      <div>
        <button (click)="clearSearch()" class="clear-btn">
          <img src="assets/close.svg" alt="Close Icon" />
        </button>
      </div>
    </div>
    <div *ngIf="drilldownHeader" class="filter-container">
      <img
        src="assets/Apple Search.svg"
        class="filter-icon"
        alt="Filter Icon"
      />
      <label class="filter-label">Filter by Apt, Suite, Unit, etc...</label>
      <hr />
    </div>
    <div
      *ngFor="let option of searchResults"
      class="lookup-item"
      (click)="onSelectOption(option)"
    >
      <span [innerHtml]="option.formattedValue"> </span>

      <!-- Show suffix if available -->
      <span *ngIf="option.suffix" class="suffix">({{ option.suffix }})</span>
    </div>
  </div>
</div>
